* {
    position: relative;
}

#triangulo {
    width: 500px;
    display: flex;
    align-self: center;
    margin: auto;
    padding-top: 100px;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(170,0,0,1) 100%);
    background-attachment: fixed;
}

#container {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

input::placeholder{
    text-align: center;
    font-weight: bold;
    color: white;
}



#xInput {
    
    font-weight: bold;
    text-align: center;
    margin-left: 7px;
}

#yInput {
 
    font-weight: bold;
    text-align: center;
}

button {
    width: 90px;
    font-weight: bold !important;  
    text-align: center;
    left: 180px;
}

#resultado {
    width: 40px;    
    text-align: center;
    position: relative;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    left: 195px;
    
}

#titulo {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 70px;    
    box-sizing: border-box;
    width: 50%;
    border: 5px black inset;
    border-bottom: gray inset;
    border-right: gray inset;
    

    
}

table {
    margin-top: 50px;
    text-align: center;
    background: #333;
    color: #fff;
}

#show th {
    padding: 13px;
}


@media screen and (max-width: 775px){
    #titulo {
        font-size: 30px;
        border: 2px solid black;
    }
}